.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vis {
  position: fixed;
  left: 400px;
  top: 0px;
}

.gene-list {
  width: 400px;
  height: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  background: white;
  border-right: 1px solid #dadada;
  padding: 20px;
}

.search-box {
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.chr-button {
  padding: 6px;
  margin: 6px;
  margin-left: 0px;
  margin-top: 0px;
  /* border-radius: 3px; */
  border: 1px solid gray;
  background: white;
  display: inline-block;
  cursor: pointer;
}

.gene-button {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  margin-bottom: 3px;
  text-align: center;
}

.chr-button:hover,
.gene-button:hover {
  background-color: lightgray;
}